* {
    font-family: Arial, Helvetica, sans-serif;;
}
    
    /* ATELIER 1 */

header {
    background: #3964E8;
    border-bottom: 5px solid #e06e3c;
    color: white;
}

.navContainer {
    padding: 15px;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 10px;
}

nav a:last-child {
    padding-right: 0;
}

    /* ATELIER 2 */

.containerCard {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
}

.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    margin: 10px;
}

.cardImg {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.cardBody {
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    border: 1px solid #e06e3c;
    border-top: none;
}

.more {
    color: #e06e3c;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    /* ATELIER 3 */

.gallery {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

span img {
    width: 100%;
    height: 100%;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item8 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.item11 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

    /* ATELIER 4 */

.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
}

.zone1,
.zone2 {
    background: #3964E8;
    color: white;
    padding: 15px;
}

.zone1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.zone2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}