* {
    font-family: Arial, Helvetica, sans-serif;;
}
    
    /* ATELIER 1 */

header {
    background: #3964E8;
    border-bottom: 5px solid #e06e3c;
    color: white;
}

.navContainer {
    padding: 15px;
    margin: 0 auto;
    max-width: 00px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 10px;
}

nav a:last-child {
    padding-right: 0;
}

    /* ATELIER 2 */

.containerCard {
    display: flex;
    margin: 50px auto;
    max-width: 1100px;
}

.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
    margin: 10px;
}

.cardImg {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.cardBody {
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    border: 1px solid #e06e3c;
    border-top: none;
}

.more {
    color: #e06e3c;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    /* ATELIER 3 */

.gallery {
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-bottom: -80px;
}

span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

span img:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    scale: 1;
    border-radius: 5px;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item8 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.item11 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

    /* ATELIER 4 */

.dashboard {
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    height: 80vh;
}

.dashboard h3 {
    color: #3964E8;
}

.dashboard p,
.dashboard a {
    color: #e06e3c;
}

.dashboard .zone1,
.dashboard .zone2 {
    border: 1px solid #3964E8;
    border-radius: 8px;
    color: white;
    padding: 15px;
}

.zone1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1; 
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zone2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hRButton {
    align-self: end;
}

.hRBloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    color: white;
    background: red;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
}

.add {
    color: white;
    background: #3964E8;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
}

.servicesButton p {
    color: #3964E8;
}

.servicesButton {
    display: flex;
    justify-content: space-between;
}

.scroller {
    height: 60%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.scroller hr {
    background: #3964E8;
    height: .1rem;
}

.scroller p {
    display: flex;
    justify-content: space-between;
}

.scrollTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Général */

button:hover {
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 8px #6b5850;
    scale: 1.1;
}

button {
    transition: all .3s ease-in-out;
}